KaggleLab/KaggleLab.v12.suo
KaggleLab/bin
KaggleLab/obj
KaggleLab/packages
DiscreteFourierTransform/ipch
DiscreteFourierTransform/Debug/
DiscreteFourierTransform/DiscreteFourierTransform.sdf
DiscreteFourierTransform/DiscreteFourierTransform.opensdf
DiscreteFourierTransform/DiscreteFourierTransform.v11.suo
DiscreteFourierTransform/DiscreteFourierTransform/Debug/
